*{
    margin: 0%;
    padding: 0%;
    
}

body{
    background: #393939;
    display: flex;
    justify-content: center;
}

.container{
    width: 355px;
    height: 500px;
    margin: 10%;
    padding: 10px;
    background: rgb(0, 0, 0);
    border: white 7px solid;
    border-radius: 25px;
    
}

input{
    font-size: 25px;
    padding: 5.8%;
    text-align: right;
    margin-bottom: 15px;
    color: black;
}

.button{
    width: 85px;
    height: 70px;
    position: relative;
    font-size: 25px;
    font-style: bold;
    text-align: center;
    cursor: pointer;
    border-radius: 20px;
    background-color: rgb(231, 104, 0);
}

.button:hover{
    background-color: #ff751a;
    box-shadow: 0 0 15px rgba(225, 225, 225, 0.5);
}

.button1{
    width: 85px;
    height: 70px;
    position: relative;
    font-size: 25px;
    font-style: bold;
    text-align: center;
    cursor: pointer;
    border-radius: 20px;
    background-color: #eab300;
}

.button1:hover{
    background-color: #ffdb4d;
    box-shadow: 0 0 15px rgba(225, 225, 225, 0.5);
}

.equal{
    width: 175px;
    height: 70px;
    background-color: #eab300;
    text-align: center;
    cursor: pointer;
    font-size: 25px;
    border-radius: 20px;
}

.equal:hover{
    background-color: #ffdb4d;
    box-shadow: 0 0 15px rgba(225, 225, 225, 0.5);
}

.display{
    background: #333;
    color: white;
    font-weight: 530;
    border-radius: 15px;
}